{% extends 'base.html' %}

{% block content %}
<h1>Список зручностей</h1>
<ul>
    {% for facility in facilities %}
    <li>
        <strong>{{ facility.name }}</strong>: {{ facility.descrption}}
        <ul>
            <li>Доступні в кімнатах:</li>
            <ul>
                {% for room in facility.rooms.all %}
                    <li>Room {{ room.number}}: {{ room.location}}</li>
                {% endfor %}
            </ul>
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}